.container{
    max-width: 1400px;
}

.filter-bar, .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-group, .buttons {
    display: flex;
    gap: 10px;
}

.filter-group input, .filter-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.buttons button, .search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.import-btn {
    background-color: #007bff;
}

.export-btn {
    background-color: #28a745;
}

.search-btn {
    background-color: #007bff;
}

.w-250{
    width: 250px !important;

}

.buttons {
    width: 192px;
    height: 37.5px;
}
.btn-large i {
    height: auto;
}